# The Usual
node_modules/

# Dev Stuff (no peeking)
.dev/
assets/shapes/mm-*

# Build Stuff (actual output via GitHub Releases)
dist/
build/
target/
platforms/*/build/
platforms/*/dist/
platforms/*/src-tauri/target/
platforms/*/src-tauri/gen/
*.apk
*.aab
*.keystore

# Secrets Ssshhhh ;)
.env
.env.*
!.env.example
